div.map{
  display:grid;
  justify-content:center;
  align-content:center;
}
div.map .cell{transition:1s all;}
div.map .cell.sea{background-color:darkblue;}
div.map .cell.mix{background-color:sandybrown;}
div.map .cell.land{background-color:brown;}
div.map .cell.light{filter:brightness(2);}
div.map .cell.border{background-color:black;}
